@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)

    <fieldset style="font-size: 17px;">
     <legend></legend>

<div id="createBlock">
    <p><b>Добавление пользователя</b></p>
    <table>
     <tr><td><label>ФИО: </label></td><td><input type="text" id="addFio" name ="fio"/></td></tr>
    <tr><td><label>Логин: </label></td><td><input type="text" id="addLogin" /></td></tr>
    <tr><td><label>Возраст: </label></td><td><input type="number" id="addAge" /></td></tr>
    <tr><td><label>Телефон: </label></td><td><input type="text" id="addPhone" /></td></tr>
    <tr><td><label>Фото: </label></td><td><input type="file" id="addFoto" name ="file"/></td></tr>       
     </table>
   
    <button  id="addUser" style= "display:block;"  >Сохранить</button>

    <div>
@Html.ActionLink("Вернуться назад", "Index")
    </div>
</div>
</fieldset>
}

<script src="~/Scripts/react.js"></script>

@section scripts
{
<script type="text/javascript">

    $(document).ready(function () {
        $("#addUser").click(function (event) {         
            AddUser();
        });
    });

    // Добавление нового пользователя
    function AddUser() {
        // получаем значения для добавляемого пользователя 
        var user = {
            Fio: $('#addFio').val(),
            Login: $('#addLogin').val(),
            Age: $('#addAge').val(),
            Phone: $('#addPhone').val(),
            Foto: $('#addFoto').val().replace(/^.*\\/, "")
        };

        $.ajax({
            url: '/api/users/',
            type: 'POST',
            data: JSON.stringify(user),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
             alert('Пользователь добавлен, вернитесь назад');
            }, 
        });    
    }  
</script>
}
