
<head>
 <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <title></title>
</head>
<body ng-app="Users">
    <h1>Пользователи</h1>
      
    <p>
        Поиск <input type="text" ng-model="search.$" />  
    </p>

    <div ng-controller="UsersController">

        <div class =" container">
        <div class =" panel panel-primary">
        <table class="table table-bordered table-striped table-hover" >
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Логин</th>
                    <th>Возраст</th>
                    <th>Телефон</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users | filter:search  "> 
                    <td>{{user.Fio}}</td>
                    <td>{{user.Login}}</td>
                    <td>{{user.Age}}</td>
                    <td>{{user.Phone}}</td>

                   <td><a  ng-click ='GetEditUser(user.Id);' >Редактировать</a></td>
                   <td><a  ng-click ='GetDitailsUser(user.Id);' >Детали</a></td>
                   <td><a  ng-click ='GetDeleteUser(user.Id);' >Удалить</a></td>
                </tr>
                </tbody>
        </table>
            </div>
            </div>
   
    <p style="font-size: 19px; position: static; ">
    @Html.ActionLink("Добавить пользователя", "Create")
    </p>

    <p style="font-size: 19px; position: static; ">
    @Html.ActionLink("Вернуться назад", "Index")
    </p>

</body>

<script type="text/javascript" src="~/Scripts/angular.min.js"></script>

<script type="text/javascript" src="@Url.Content("~/DatabaseUsersScripts/UsersScript.js")"></script>