<head>
   <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <title>Детали пользователя</title>
</head>
<body ng-app="DetailsUser">
    <h1>Детали пользователя </h1>
      
    <div ng-controller="DetailsUserController">

          <table>
                    <tr>
                        <td>
                            <span>ID</span>
                        </td>
                        <td>
                            <input type="text" readonly="readonly" ng-model="Id"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>ФИО</span>
                        </td>
                        <td>
                            <input type="text"  ng-model="Fio" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Логин</span>
                        </td>
                        <td>
                            <input type="text"  ng-model="Login" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Возраст</span>
                        </td>
                        <td>
                            <input type="text" ng-model="Age" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Телефон</span>
                        </td>
                        <td>
                            <input type="text"  ng-model="Phone" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Фото</span>
                        </td>
                        <td>
                            <img ng-src="{{Foto}}"  width="200" height="200">
                        </td>
                    </tr>
          </table>

        </div>

</body>

<div>
@Html.ActionLink("Вернуться назад", "Admin")
</div>

<script type="text/javascript" src="~/Scripts/angular.min.js"></script>

<script type="text/javascript" src="@Url.Content("~/DatabaseUsersScripts/DetailsUserScript.js")"></script> 