
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <title>Редактирование пользователя</title>
</head>

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   
<body ng-app="EditUser">
    <h1>Редактирование пользователя </h1>
      
    <div ng-controller="EditUserController">
    
    <table>      
    <tr><td><label>ID: </label></td><td><input type="text" id="Id" readonly="readonly" ></td></tr>
    <tr><td><label>ФИО: </label></td><td><input type="text" id="Fio" ></td></tr>
    <tr><td><label>Логин: </label></td><td><input type="text" id="Login" > </td></tr>
    <tr><td><label>Возраст: </label></td><td><input type="number" id="Age" ></td></tr>
    <tr><td><label>Телефон: </label></td><td><input type="text" id="Phone" ></td></tr>
    <tr style= "display:none;"><td><label>Фото: </label></td><td><input type="text" id="Foto" ></td></tr>
    <tr><td><label>Фото: </label></td><td><input type="file" id="FotoFile" name ="file" onchange="angular.element(this).scope().file_changed(this)"></td></tr>         
    </table>

    <button id="editUser"  ng-click="SaveEditUser()">Сохранить</button> 
        
    </div>

</body>
}
<div>
@Html.ActionLink("Вернуться назад", "Admin")
</div>

<script type="text/javascript" src="~/Scripts/angular.min.js"></script>

<script type="text/javascript" src="@Url.Content("~/DatabaseUsersScripts/EditUserScript.js")"></script> 